<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <p>&copy; 2025 Coastal Concrete Form Co. All Rights Reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/index" class="text-white">Home</a></li>
      <li class="list-inline-item"><a href="/gallery" class="text-white">Gallery</a></li>
      <li class="list-inline-item"><a href="/about" class="text-white">About</a></li>
      <li class="list-inline-item"><a href="/contact" class="text-white">Contact</a></li>
    </ul>
  </div>
</footer>
